<a href="https://colab.research.google.com/github/HarshChaudhary29/ML-Zoomcamp/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [7]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(url)

In [6]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [8]:
df['Market Category']

0        Factory Tuner,Luxury,High-Performance
1                           Luxury,Performance
2                      Luxury,High-Performance
3                           Luxury,Performance
4                                       Luxury
                         ...
11909               Crossover,Hatchback,Luxury
11910               Crossover,Hatchback,Luxury
11911               Crossover,Hatchback,Luxury
11912               Crossover,Hatchback,Luxury
11913                                   Luxury
Name: Market Category, Length: 11914, dtype: object

In [9]:
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [28]:
df2 = df.loc[df["Make"] == 'Audi']
df2.nunique(axis = 1)

17       16
18       16
19       16
20       16
21       16
         ..
10901    16
10902    16
11178    16
11179    16
11180    16
Length: 328, dtype: int64

In [16]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [18]:
df["Engine Cylinders"].median()

6.0

In [19]:
df["Engine Cylinders"].mode()

0    4.0
dtype: float64

In [20]:
df["Engine Cylinders"].fillna(4.0)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [21]:
df["Engine Cylinders"].median()

6.0

In [36]:
df3 = df.loc[(df.Make == "Lotus")]
df3 = df3[['Engine Cylinders','Engine HP']]
df3

      Engine Cylinders  Engine HP
3912               4.0      189.0
3913               4.0      218.0
3914               4.0      189.0
3915               4.0      189.0
3916               4.0      218.0
3917               4.0      189.0
3918               4.0      217.0
3919               4.0      217.0
4216               8.0      350.0
4217               8.0      350.0
4218               8.0      350.0
4257               6.0      400.0
4258               6.0      400.0
4259               6.0      276.0
4260               6.0      276.0
4261               6.0      276.0
4262               6.0      345.0
4263               6.0      345.0
4264               6.0      276.0
4265               6.0      345.0
4266               6.0      276.0
4267               6.0      345.0
4268               6.0      276.0
4292               4.0      257.0
4293               4.0      240.0
4294               4.0      240.0
4295               4.0      240.0
4296               4.0      257.0
4297               4.0      257.0

In [39]:
df3 = df3.drop_duplicates()

In [52]:
X = df3.values
X

array([[  4., 189.],
       [  4., 218.],
       [  4., 217.],
       [  8., 350.],
       [  6., 400.],
       [  6., 276.],
       [  6., 345.],
       [  4., 257.],
       [  4., 240.]])

In [53]:
XT = X.T

array([[  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.],
       [189., 218., 217., 350., 400., 276., 345., 257., 240.]])

In [58]:
XTX = np.dot(X,XT)
XTX

array([[ 35737.,  41218.,  41029.,  66182.,  75624.,  52188.,  65229.,
         48589.,  45376.],
       [ 41218.,  47540.,  47322.,  76332.,  87224.,  60192.,  75234.,
         56042.,  52336.],
       [ 41029.,  47322.,  47105.,  75982.,  86824.,  59916.,  74889.,
         55785.,  52096.],
       [ 66182.,  76332.,  75982., 122564., 140048.,  96648., 120798.,
         89982.,  84032.],
       [ 75624.,  87224.,  86824., 140048., 160036., 110436., 138036.,
        102824.,  96024.],
       [ 52188.,  60192.,  59916.,  96648., 110436.,  76212.,  95256.,
         70956.,  66264.],
       [ 65229.,  75234.,  74889., 120798., 138036.,  95256., 119061.,
         88689.,  82824.],
       [ 48589.,  56042.,  55785.,  89982., 102824.,  70956.,  88689.,
         66065.,  61696.],
       [ 45376.,  52336.,  52096.,  84032.,  96024.,  66264.,  82824.,
         61696.,  57616.]])

In [45]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [57]:
np.linalg.inv(XTX)

LinAlgError: ignored